@each $color, $value in $colors {
  .bg-#{$color} {
    background-color: $value;
  }
  .text-#{$color} {
    color: $value;
  }
  .border-#{$color} {
    border-color: $value;
  }

  .outlined-#{$color} {
    outline: 1px solid $value;
  }

  .fill-#{$color} {
    fill: $value;
  }

  .stroke-#{$color} {
    stroke: $value;
  }

  .dark {
    .dark\:bg-#{$color} {
      background-color: $value;
    }
    .dark\:text-#{$color} {
      color: $value;
    }
    .dark\:border-#{$color} {
      border-color: $value;
    }
  }
}
