$default-colors: (
  primary: #269792,
  secondary: #9c42e1,
  success: #07d17d,
  info: #4299e1,
  warning: #ed8936,
  danger: #e53e3e,
  light: #edf2f7,
  dark: #4a5568,
);

@each $color, $value in $default-colors {
  .bg-#{$color} {
    background: $value;
  }
  .text-#{$color} {
    color: $value;
  }
  .border-#{$color} {
    border-color: $value;
  }
  .dark {
    .dark\:bg-#{$color} {
      background: $value;
    }
    .dark\:text-#{$color} {
      color: $value;
    }
    .dark\:border-#{$color} {
      border-color: $value;
    }
  }
  .hover\:bg-#{$color} {
    &:hover {
      background: $value;
    }
  }
  .hover\:text-#{$color} {
    &:hover {
      color: $value;
    }
  }
  .focus\:bg-#{$color} {
    &:focus {
      background: $value;
    }
  }
  .focus\:text-#{$color} {
    &:focus {
      color: $value;
    }
  }
  .active\:bg-#{$color} {
    &:active {
      background: $value;
    }
  }
}
